	@echo ""
	@echo "********** TEST #!NUM! -- !PKG! **********"
	@echo ""
	@echo "Installing before refactoring..."
	go install !PKG!
	@echo "Refactoring..."
	godoctor -pos !POS! -file !FILE! rename Some_New_Var >patch.txt
	@echo "Applying patch..."
	patch -p0 -d/ -i `pwd`/patch.txt
	@echo "Installing after refactoring..."
	go install !PKG!
